body {
  background: #0e1f00;
  padding: 1em;
}

main {
  max-width: 1200px;
  margin-left:  auto;
  margin-right: auto;
  font-family: sans-serif;
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media screen and (min-width: 600px) {
  .double_width {
    grid-column: 1 / span 2;
  }
}

@media screen and (max-width: 600px) {
  .chart, section {
    margin-left: -0.5em;
    margin-right: 1em;
    max-width: calc(100% - 2em);
  }
}

.chart, section {
  padding: 1.5em;
  background: white;
  border-radius: 6px;
}

.chart h1 {
  margin-top: 0;
  color: #0e2f00;
}

table {
  width: 100%;
}

td {
  padding-top: 2px;
}

td.count {
  text-align: right;
  overflow-wrap: normal;
}

a {
  color: #306b00;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-skip-ink: none;
}

a.reset {
  color: red;
  text-decoration: none;
}

button {
  background: #ddd;
  border: none;
  border-radius: 5px;
  padding: 4px 6px;
}

button:active {
  margin-top: 2px;
  margin-bottom: -2px;
}

button:hover {
  background: #306b0077;
}

code {
  font-size: 1.2em;
}

tbody:not(:first-child) .referrer_name td {
  padding-top: 24px;
}

.referrer_name {
  max-width: 440px;
  overflow-wrap: anywhere;
}

.referrer {
  max-width: 440px;
  overflow-wrap: anywhere;
}

.referrer_page {
  font-size: small;
}

.world_info svg {
  max-width: 100%;
}

.world_info {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-gap: 1em;
}

.world_info table {
  margin-top: auto;
  margin-bottom: auto;
}

.world_info table td {
  padding: 0;
}

#world-map path { fill: #eee; }

#exclusionCookie, #netlifyUsage {
  line-height: 1.3em;
}

#netlifyUsage {
  display: grid;
  grid-template-columns: 43px auto;
  grid-gap: 1em;
  vertical-align: middle;
}

#netlifyUsage p {
  margin-top: auto;
  margin-bottom: auto;
}

#visitorsByCountry {
  grid-column: 1 / span 2;
}

@media screen and (max-width: 500px) {
  main {
    grid-template-columns: auto;
  }

  .world_info {
    grid-template-columns: auto;
  }

  .world_info svg {
    margin-bottom: 1em;
  }

  #exclusionCookie, #visitorsByCountry {
    grid-column: 1;
  }
}

.date {
  color: #999;
}

input[type="date"] {
  font-size: 1em;
}
