<head>
  <title>alexwlchan.net analytics</title>

  <style>
    {% set max_world_map_count = visitors_by_country.values()|max %}

    {% for country, count in visitors_by_country.most_common() %}
    #world-map #{{ country.lower() }} path,
    #world-map path#{{ country.lower() }} {
      fill: {{ '#dddddd' | interpolate_color('#4ca300', count / max_world_map_count) }};
    }
    {% endfor %}
  </style>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<main>
  {% include "exclusion_cookie.html" %}

  <div class="chart">
    <h1>{{ by_date|map(attribute='count')|sum|intcomma }} total pageviews</h1>

    <div>
      <canvas id="myChart"></canvas>
    </div>
  </div>

  <div class="chart">
    <h1>{{ unique_users|map(attribute='unique_session_count')|sum|intcomma }} unique visitors</h1>

    <div>
      <canvas id="uniqueVisitorsChart"></canvas>
    </div>
  </div>

  <div class="chart" style="grid-column: 1 / span 2;">
    <h1>Visitors by country</h1>

    <div class="world_info">
      {% include "world-map.svg" %}
      <table>
        {% for country, count in visitors_by_country.most_common(10) %}
        <tr>
          <td>{{ country|flag_emoji }} {{ country|country_name }}</td>
          <td class="count">{{ count }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="chart">
    <h1>Most popular posts</h1>

    <table>
      {% for p in top_pages %}
      <tr>
        <td>
          <a href="https://{{p.host}}{{ p.path }}">{{ p.title.replace(' – alexwlchan', '') }}</a>
        </td>
        <td class="count">{{ p.count }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="chart">
    <h1>Referrers</h1>

    <table>
      {% for referrer, pages in grouped_referrers %}
      <tr class="referrer_name">
        <td class="referrer">{{ referrer }}</td>
        <td class="count">{{ pages.values()|sum|intcomma }}</td>
      </tr>

      {% set selected_amount = 4 if pages|length <= 4 else 3 %}

      {# A cheap hack to update a variable outside a loop #}
      {# See https://stackoverflow.com/a/29581974/1558022 #}
      {% set remaining_total = {'total': pages.values()|sum} %}

      {% for p, c in pages.most_common(selected_amount) %}
      <tr class="referrer_page">
        <td>&rarr; {{ p.replace(' – alexwlchan', '') }}</td>
        {% set _ = remaining_total.update({'total': remaining_total['total'] - c}) %}
        <td class="count">{{ c|intcomma }}</td>

      </tr>
      {% endfor %}

      {% if pages|length > selected_amount %}
      <tr class="referrer_page">
        <td style="padding-left: 6px;">+ {{ pages|length - selected_amount }} other pages</td>
        <td class="count">{{ remaining_total['total']|intcomma }}</td>
      </tr>
      {% endif %}

      {% endfor %}
    </table>
  </div>

  <div class="chart">
    <h1>Missing pages</h1>

    <table>
      {% for p in missing_pages %}
      <tr>
        <td>
          <code>{{ p.path }}</p>
        </td>
        <td class="count">{{ p.count }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    const ctx = document.getElementById('myChart');

    const chartJsOptions = {
      plugins: {
        legend: {
          display: false
        }
      },
      scales: {
        x: {
          offset: true,
          grid: {
            display: false
          }
        },
        y: {
          beginAtZero: true
        },
        color: {
          axis: 'x',
          display: false,
        }
      },
      animation: {
        duration: 0
      },
    };

    new Chart(ctx, {
      type: 'line',
      data: {
        labels: [
          {% for row in by_date %}'{{ row.day|prettydate }}',{% endfor %}
        ],
        datasets: [{
          label: 'total pageviews',
          data: [
            {% for row in by_date %}{{ row.count }},{% endfor %}
          ],
          borderWidth: 1,
          fill: true,
          backgroundColor: '#4ca30033',
          borderColor: '#4ca300ff',
        }]
      },
      options: chartJsOptions
    });

    const ctx2 = document.getElementById('uniqueVisitorsChart');

    new Chart(ctx2, {
      type: 'line',
      data: {
        labels: [
          {% for row in unique_users %}'{{ row.day|prettydate }}',{% endfor %}
        ],
        datasets: [{
          label: 'unique visitors',
          data: [
            {% for row in unique_users %}{{ row.unique_session_count }},{% endfor %}
          ],
          borderWidth: 1,
          fill: true,
          backgroundColor: '#4ca30033',
          borderColor: '#4ca300ff',
        }]
      },
      options: chartJsOptions
    });

    window.onload = function() {
      createExclusionCookieSection();

      const visitors_by_country = {{ visitors_by_country|tojson }};
      const country_names = {{ country_names|tojson }};

      Object.entries(visitors_by_country).forEach(vc => {
        const countryId = vc[0];
        const count = vc[1];

        var title = document.createElementNS('http://www.w3.org/2000/svg', 'title');
        title.textContent = `${country_names[countryId]}: ${count} hit${count > 1 ? 's' : ''}`;

        if (document.getElementById(countryId.toLowerCase()) !== null) {
          document.getElementById(countryId.toLowerCase()).appendChild(title);
        }
      });
    }
  </script>
</main>

</body>