<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<style>
  section p:first-child { margin-top: 0;    }
  section p:last-child  { margin-bottom: 0; }

  #intro {
    line-height: 1.4em;
  }
</style>

<main>
  <section id="intro">
    <p>This website hosts a tracking pixel for alexwlchan.net and its subdomains.</p>

    <p>For more information about what gets tracked, you can read:</p>

    <ul>
        <li>
          <a href="https://alexwlchan.net/privacy/">my privacy policy</a>
        </li>
        <li>
          <a href="https://github.com/alexwlchan/analytics.alexwlchan.net">the code on GitHub</a>
        </li>
    </ul>

    <p>
      You can also go to the <a href="{{ url_for('dashboard') }}">tracking dashboard</a> (requires login).
    </p>
  </section>
</main>
